:root {
  --font: 'Inter';
  --screen-margin: 20px;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #d9d9d9;
  --app-bg-color: var(--app-bg-color);
  --badge-bg-color: var(--grey-color);
}
