.block {
  &-artifacts {
    margin-bottom: 15rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
    }

    &__multi {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-use {
    margin-bottom: 5rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__multi {
      display: flex;
      align-items: center;
    }
  }

  &-scenario {
    margin-bottom: 5rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      &::after {
        content: '';
        position: absolute;
        background: url(../../img/main/scenario.png);
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 583px;
        width: 100%;
        height: 415px;
        top: 0;
        right: -15%;
        transform: rotateZ(13deg);
        z-index: -1;
      }
    }
  }

  &-connections {
    margin-bottom: 5rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }

  &-mdlayer {
    margin-bottom: 16.5rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2.25rem;
    }
  }

  &-more {
    display: flex;
    justify-content: center;
    margin-bottom: 11.4rem;
  }

  &-ai {
    margin-bottom: 5rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2.25rem;
    }
  }

  &-join {
    margin-bottom: 7.7rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2.25rem;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    &__own {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    &__section {
      display: flex;
      gap: 1rem;
    }

    &__emoji {
      display: flex;
      flex-grow: 1;
      height: 118px;
      z-index: -1;
    }

    &__simple {
      flex: 1;
    }
  }
}

.element {
  width: 100%;

  &_heading {
    height: 5rem;
    text-transform: uppercase;
  }

  &_dtd {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 100px;
      width: 100px;
      border: 1px dashed var(--grey-color60);
      top: 50%;
      left: 26%;
      transform: translateY(-50%);
    }
  }

  &_bld {
    font-weight: 700;
  }

  &_f1 {
    font-size: 1.2rem;
  }

  &_f2 {
    font-size: 1.6rem;
  }

  &_f5 {
    font-size: 1.8rem;
  }

  &_f3 {
    font-size: 2.4rem;
  }

  &_f4 {
    font-size: 3.2rem;
  }

  &_end {
    align-self: flex-end;
  }

  &_center {
    align-self: center;
  }

  &_m-l-15 {
    margin-left: 15%;
  }

  &_m-r-15 {
    margin-right: 15%;
  }

  &_m-b-1 {
    margin-bottom: 1rem;
  }

  &_m-b-5 {
    margin-bottom: 5.7rem;
  }

  &_m-b-06 {
    margin-bottom: 0.6rem;
  }

  &_s1 {
    height: 84px;
    max-width: 319px;
    width: 100%;
  }

  &_s2 {
    height: 85px;
    max-width: 341px;
    width: 100%;
  }

  &_s3 {
    max-width: 76px;
    width: 100%;
    height: 35px;
    margin-left: 1rem;
    margin-right: 0.4rem;
  }

  &_s4 {
    max-width: 267px;
    width: 100%;
    height: 85px;
  }

  &_s5 {
    max-width: 316px;
    width: 100%;
    height: 79px;
  }

  &_s6 {
    max-width: 209px;
    width: 100%;
    height: 82px;
  }

  &_s7 {
    max-width: 412px;
    width: 100%;
    height: 101px;
  }

  &_s8 {
    max-width: 245px;
    width: 100%;
    height: 50px;
  }

  &_s9 {
    max-width: 392px;
    width: 100%;
    height: 72px;
  }

  &_s10 {
    max-width: 576px;
    width: 100%;
    height: 102px;
  }

  &_s11 {
    max-width: 216px;
    width: 100%;
    height: 94px;
  }

  &_s12 {
    max-width: 431px;
    width: 100%;
    height: 118px;
  }

  &_s13 {
    max-width: 597px;
    width: 100%;
    height: 118px;
  }

  &_s14 {
    max-width: 354px;
    width: 100%;
    height: 93px;
  }

  &_s15 {
    max-width: 334px;
    width: 100%;
    height: 81px;
  }

  &_s16 {
    max-width: 432px;
    width: 100%;
    height: 57px;
  }

  &_s17 {
    max-width: 453px;
    width: 100%;
    height: 118px;
  }

  &_s18 {
    max-width: 613px;
    width: 100%;
    height: 153px;
  }

  &_s19 {
    width: 100%;
    height: 94px;
  }

  &_s20 {
    max-width: 450px;
    width: 100%;
    height: 81px;
  }

  &_s21 {
    max-width: 557px;
    width: 100%;
    height: 118px;
  }

  &_s22 {
    max-width: 307px;
    width: 100%;
    height: 94px;
  }

  &_s23 {
    max-width: 634px;
    width: 100%;
    height: 94px;
  }

  &_s24 {
    max-width: 157px;
    width: 100%;
    height: 58px;
  }

  &_s25 {
    max-width: 189px;
    width: 100%;
    height: 58px;
  }

  &_s26 {
    max-width: 133px;
    width: 100%;
    height: 48px;
  }

  &_s27 {
    max-width: 158px;
    width: 100%;
    height: 70px;
  }

  &_r1 {
    transform: rotateZ(9deg);
  }

  &_r2 {
    transform: rotateZ(15deg);
  }

  &_r3 {
    transform: rotateZ(-7deg);
  }

  &_r4 {
    transform: rotateZ(-13deg);
  }

  &_e1 {
    top: -15%;
    right: 22%;
  }

  &_e2 {
    top: 30%;
    left: 10%;
  }

  &_e3 {
    right: 10%;
    bottom: -10%;
  }

  &_e4 {
    top: -45%;
    left: 10%;
  }

  &_e5 {
    left: 40%;
    bottom: 15%;
  }
}
